body {
	margin: 0px;
	text-align: center;
}

#game {
	height: 600px;
	width: 1000px;
	background: black;
	display: inline-block;
	position: relative;
	overflow: hidden;
}

#game-objects * {
	position: absolute;
}

#screens {
	display: inline-block;
}

#screens > div {
	background: gray;
	padding: 5px;
	margin: 10px;
}

.menu {
	width: 200px;
}

.menu > div {
	background: white;
	padding: 10px;
	margin: 5px;
	text-align: center;
}

.menu > div.active {
	animation: menu-active .5s linear 0s infinite alternate;
}

.menu > div.selected {
	background: green;
}

.hide {
	display: none;
}

@keyframes menu-active {
	from { background-color: blue; }
	to { background-color: white; }
}

@keyframes shallow-flash {
	from { opacity: .5; }
	to { opacity: .75; }
}